<% provide(:title, "Home") %>
    <h1>Customer Login</h1>
    <p>Need a login form here. Customer will meet this login form either at the beginning of the experience, or maybe when they decide to checkout</p>

<%=link_to "Don't Have an Account?", register_path%> <!--Could also include the class after the path-->
<p>This link takes the user to a sign up page with validation working, password hashing</p>
