<% provide(:title, "Home")%>
<h1>Customer Login</h1>
<p>*****Todo: Login for existing users*****</p>
<p>The link below takes the user to a sign up page with validation working, password hashing</p>
<%=link_to "Don't Have an Account?", register_path%>
