<%provide(:title, @user.name)%>
<h1>User Credentials</h1>
<p>Work in progress, user may need more parameters, and yet to be decided where to redirect after a successful account creation</p>
<p> Username: <%= @user.name %><br> User Email: <%=@user.email%><br> User Password Hash:<%=@user.password_digest%><br></p>

<%=link_to "Click to get sent to the product scaffold's index", products_path%>
